.hosts-servisec-contener{
	margin-left:5%;
	margin-top:40px;
	box-shadow: 10px 11px 51px 1px rgba(0, 0, 0, .2);
	margin-right:10%;
	padding:0;
}
.hosts-servisec-contener table
{
	width:100%;
}

.hosts-servisec-contener table tr td
{
	width:50%;
}
.hosts-servisec-contener-bottom{
		bottom:0;
}
.hosts-contener{	
	/*background-color:red;*/
	width:100%;
}
.contener-head
{	
	font-weight: bolder;
	font-size:1.2em;
	top:0;
	background-color:#666666;
	height:30px;
	color:white;
}

.servisec-contener{
	/*background-color:yellow;*/
	width:100%;
}
table{

    border-collapse: collapse;
}
table tr td{
vertical-align:top;
}


.row-contener {
    cursor: pointer;
	display:block;
	padding-bottom:5px;
	padding-top:5px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
	
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.row-contener:hover {
 }








 
.row-contener button[type=submit] {
    padding:5px 15px; 
	width:100%;
    background:#E8E8E8; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px; 
}
.row-contener button[type=submit]:hover{
	background:#BCBCBC;
	font-weight:bold;
	/*padding-bottom:15px;
	padding-top:15px;*/

}
button[type=submit] {
    padding:5px 20px; 
    border:0 none;
    cursor:pointer;
	background:#E8E8E8;
    -webkit-border-radius: 5px;
    border-radius: 3px; 
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
button[type=submit]:hover{
	background:#BCBCBC;
}