.left-right-contener{
    background-color:white;
    /*margin-left:5%;
    margin-top:40px;
    box-shadow: 10px 20px 50px 10px rgba(0, 0, 0, .3);
    margin-right:10%;*/
    padding:0;
}



.center-contener{
    background-color:white;
    margin-left:25%;
    max-width:50%;
    margin-top:40px;
    box-shadow: 10px 20px 50px 10px rgba(0, 0, 0, .3);
    margin-right:10%;
    padding:0;
}

.left-right-contener table
{
    width:100%;
}

.left-right-contener table tr td
{
    width:50%;
}
.left-right-contener-bottom{
    bottom:0;
}
.left-contener{
    /*background-color:red;*/
    width:100%;
}

b4 {
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 0 white;
    color: transparent;
    transition: all 1s;
}
b4:hover {
    text-shadow: 0 0 15px #999;
}

.right-contener{
    /*background-color:yellow;*/
    width:100%;
}
table{

    border-collapse: collapse;
}
table tr td{
    vertical-align:top;
}


.row-contener {
    cursor: pointer;
    display:block;
    padding-bottom:5px;
    padding-top:5px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;

    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.row-contener button[type=submit],.row-contener a {
    display:block;
    padding:5px 0px;
    color: black;
    text-align: center;
    width:100%;
    text-decoration: none;
    background:#E6E6E6;
    /*border: 1px dashed #000000;*/
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.row-contener button[type=submit]:hover,.row-contener a:hover{
    background:#BCBCBC;
    font-weight:bold;
    /*padding-bottom:15px;*/
    /*padding-top:15px;*/
}

.row-contener-select button[type=submit],.row-contener-select a {
    background:#BCBCBC;
    font-weight:bold;
    padding:7px 0px;
}



button[type=submit] {
    margin-top:20px;
    padding:8px 20px;
    border:0 none;
    cursor:pointer;
    color:white;
    background:#35B3CC;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
button[type=submit]:hover{
    background:#BCBCBC;
}


/*addHost*/
.center-contener input[type=text]
{

    display:block;
    padding:3px 4px;
    margin-top:5px;
    margin-bottom:20px;
}
.left-right-contener input[type=text]
{
    display:block;
    padding:3px 4px;
    margin-top:5px;
    margin-bottom:20px;
}
H3 {
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 0 #333;
    color: transparent;
    transition: all 1s;
}
H3:hover {
    text-shadow: 0 0 15px #999;
}

buttons a{
    display:inline-block;
    text-decoration: none;
    margin-top:20px;
    padding:6px 20px;
    border:0 none;
    cursor:pointer;
    color:white;
    background:#35B3CC;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
buttons a:hover{
    background:#BCBCBC;
}






.contener-head
{
    font-weight: bolder;
    font-size:1.1em;
    top:0;
    background-color:#35B3CC;
    height:40px;
    color:white;
    padding: 0;
}
.contener-head-1
{
    font-weight: bolder;
    font-size:1.1em;
    top:0;
    background-color:#838383;
    height:25px;
    color:white;
    padding: 0;
}


.contener-menu  {
	top:0;
    padding: 0;
}
.contener-menu li {
    display: inline;
}
.contener-menu  li a {
	text-decoration:none;
	color:white;
	box-shadow: 0px 2px 0px 0px #575555 inset; 
    cursor: pointer;
    padding: 0px 23px 20px 23px;
	top:0;
    text-decoration: none;
    border-radius: 0px 0px 0 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.contener-menu  li a:hover {
  box-shadow: 0px 50px 10px 0px #575555 inset; 
}
.contener-menu-select{
	background-color:#575555;
}
















