<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="../static/js/jquery-2.2.0.min.js"
            th:src="@{'~/js/jquery-2.2.0.min.js'}"></script>
    <script src="../static/js/bootstrap.min.js"
            th:src="@{'~/js/bootstrap.min.js'}"></script>
    <script src="../static/js/index.js"
            th:src="@{'~/js/index.js'}"></script>
    <link href="../static/css/bootstrap.css"
          th:href="@{'~/css/bootstrap.css'}" rel="stylesheet" media="screen"/>

    <link href="../static/css/AdminLTE.css"
          th:href="@{'~/css/AdminLTE.css'}" rel="stylesheet" media="screen"/>

    <link href="../static/css/index.css"
          th:href="@{'~/css/index.css'}" rel="stylesheet" media="screen"/>

    <script src="../static/js/highstock.js"
            th:src="@{'~/js/highstock.js'}"></script>
    <script src="../static/js/exporting.js"
            th:src="@{'~/js/exporting.js'}"></script>
    <link href="../static/css/bootstrap.css"
          th:href="@{'~/css/bootstrap.css'}" rel="stylesheet" media="screen"/>
    <link href="../static/css/AdminLTE.css"
          th:href="@{'~/css/AdminLTE.css'}" rel="stylesheet" media="screen"/>
    <link href="../static/css/index.css"
          th:href="@{'~/css/index.css'}" rel="stylesheet" media="screen"/>
    <!--external css-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{'~/css/font-awesome.css'}"/>
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{'~/css/style.css'}"/>
    <link href="../static/css/style-responsive.css" rel="stylesheet" th:href="@{'~/css/style-responsive.css'}"/>

    <script src="../static/js/dinamicChart.js"
            th:src="@{'~/js/dinamicChart.js'}"></script>
    <script th:inline="javascript">
        dropDownMenuAccounts();
        modalAccounts();
        var username = [[${username}]];
        setHostName(username);
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top margin-left-15">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">LogOut</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right margin-top-12">
            <button class="btn dropdown-toggle fa fa-bell-o clear-background-color" type="button"
                    data-toggle="dropdown">
                <span id="dropdown-menu-length" class="label label-warning">0</span></button>
            <ul id="dropdown-menu" class="dropdown-menu">

            </ul>
        </ul>
    </div>
</nav>
<div class="nav-side-menu">
    <div class="brand">System monitor</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="collapsed">
                <a href="/">
                    <i class="fa fa-home fa-lg"></i> Home
                </a>
            </li>

            <li>
                <a th:href="@{'~/hosts'}">
                    <i class="fa fa-linux fa-lg"></i> Hosts
                </a>
            </li>
            <li>
                <a th:href="@{'~/problems'}">
                    <i class="fa fa-exclamation fa-lg"></i> Problems
                </a>
            </li>


            <div sec:authorize="hasRole('ROLE_ADMIN')">
            <li data-toggle="collapse" data-target="#new" class="collapsed active">
                <a href="#"><i class="fa fa-cog fa-lg"></i> <s>Admin panel</s> <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu " id="new">
                <a class="white-text " th:href="@{~/admin/hostedit}">
                    <li>Host Editor</li>
                </a>
                <a class="white-text" th:href="@{~/admin/templMetrics}">
                    <li>Template Metrics</li>
                </a>
                <a class="white-text" th:href="@{~/admin/accounts}">
                    <li class="active">Accounts</li>
                </a>
                <a class="white-text" th:href="@{~/admin/alarms}">
                    <li>Alarms</li>
                </a>
            </ul>
            </div>


            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="content">

    <!--<a th:text="${user.role}" th:href="@{'accaunts?roleid='+${user.roleid}+'&amp;username='+${user.username}}"></a>-->

    <div class="col-lg-10 margin-top-20">
        <div class="content-panel ">
            <h4 style="cursor:pointer;">
                Account's list<a class="cursor_pointer openAddAccount">(Add Account)</a></h4>
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <td class="tablehead"><i class="fa fa-users">User Name</i></td>
                    <td class="tablehead"><i class="fa fa-lock">Password</i></td>
                    <td class="tablehead"><i class="fa fa-user">Role</i></td>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="user: ${getAllUsers}">
                    <tr th:id="${user.username}">
                        <td >
                            <div  th:text="${user.username}"></div>
                        </td>
                        <td  th:type="password" th:text="${user.password}"></td>
                        <td >
                            <div>
                                <a th:text="${user.role}" th:href="@{'accaunts?roleid='+${user.roleid}+'&amp;username='+${user.username}}"></a>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-xs"><a
                                    class="fa fa-wrench fa-lg white-text open_window"></a>
                            </button>
                            <button class="btn btn-danger btn-xs dellHost"><a  th:href="@{/admin/dellAccount(username=${user.username})}"
                                                                               class="fa fa-times fa-lg white-text"></a>
                            </button>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>



    <div class="overlay accounts" title="окно"></div>
    <div class="popup accounts">
        <div class="close_window_type close_window fa fa-times fa-lg"></div>
        <div class="register-box-body">
            <div class="form-group has-feedback hidden">
                <input type="text" class="form-control" placeholder="id" name="id"
                       required="required"/>
                <span class=" fa fa-home form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">

                <input type="text" class="form-control" placeholder="Username" name="Username"
                       required="required"/>
                <span class=" fa fa-star-o form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">

                <input type="text" class="form-control" placeholder="Password" name="Password"
                       required="required"/>
                <span class=" fa fa-lock form-control-feedback"></span>
            </div>
            <div class=" cursor_pointer form-group has-feedback">

                <nav>
                    <ul class="ddmenu">
                        <li class="mainDdmenu" ><a href="#">О нас</a>
                            <ul>
                                <li><a href="#">Миссия</a></li>
                                <li><a href="#">Команда</a></li>
                                <li><a href="#">История</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>


                <span class="cursor_pointer fa fa-caret-down  form-control-feedback"></span>

            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button id="saveAccount" type="submit" class="btn btn-primary btn-block btn-flat" name="saveAccount">Save
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="close_window btn btn-primary btn-block btn-flat" name="returnHosts">
                        Cancel
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="overlay addAccounts" title="окно"></div>
    <div class="popup addAccounts">
        <div class="close_window_type close_window fa fa-times fa-lg"></div>
        <div class="register-box-body">
            <div class="form-group has-feedback hidden">
                <input type="text" class="form-control" placeholder="id" name="id"
                       required="required"/>
                <span class=" fa fa-home form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">

                <input type="text" class="form-control" placeholder="Username" name="NEWUsername"
                       required="required"/>
                <span class=" fa fa-star-o form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">

                <input type="text" class="form-control" placeholder="Password" name="NEWPassword"
                       required="required"/>
                <span class=" fa fa-lock form-control-feedback"></span>
            </div>
            <div class=" cursor_pointer form-group has-feedback">
                <nav>
                    <ul class="ddmenu" id="newAccount">
                        <li class="mainDdmenu" ><a href="#">newAccount</a>
                            <ul>
                                <li><a href="#">Миссия</a></li>
                                <li><a href="#">Команда</a></li>
                                <li><a href="#">История</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <span class="cursor_pointer fa fa-caret-down  form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <button id="addAccount" type="submit" class="btn btn-primary btn-block btn-flat" name="addAccount">Add
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="close_window btn btn-primary btn-block btn-flat" name="returnHosts">
                        Cancel
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>