<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="../static/js/jquery-2.2.0.min.js"
            th:src="@{js/jquery-2.2.0.min.js}"></script>
    <script src="../static/js/bootstrap.min.js"
            th:src="@{js/bootstrap.min.js}"></script>
    <script src="../static/js/index.js"
            th:src="@{js/index.js}"></script>

    <link href="../static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/AdminLTE.css"
          th:href="@{css/AdminLTE.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>

    <script src="../static/js/highstock.js"
            th:src="@{js/highstock.js}"></script>
    <!--<script src="../static/js/highcharts.js"-->
            <!--th:src="@{js/highcharts.js}"></script>-->
    <script src="../static/js/exporting.js"
            th:src="@{js/exporting.js}"></script>
    <script src="../static/js/homeCharts.js"
            th:src="@{js/homeCharts.js}"></script>


    <!--external css-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{css/font-awesome.css}"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}"/>
    <link href="../static/css/style-responsive.css" rel="stylesheet" th:href="@{css/style-responsive.css}"/>

    <script th:inline="javascript">
        var username = [[${username}]];
        hideShowHostListContent(username);
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top margin-left-15">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">LogOut</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right margin-top-12">
            <button class="btn dropdown-toggle fa fa-bell-o clear-background-color" type="button"
                    data-toggle="dropdown">
                <span id="dropdown-menu-length" class="label label-warning">0</span></button>
            <ul id="dropdown-menu" class="dropdown-menu">

            </ul>
        </ul>
    </div>
</nav>

<div class="nav-side-menu">
    <div class="brand">System monitor</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li class="collapsed active">
                <a href="/">
                    <i class="fa fa-home fa-lg"></i> Home
                </a>
            </li>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Hosts <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <a class="white-text" th:href="@{'addHostPage'}"><li>Add host</li></a>
                <a class="white-text" th:href="hosts" ><li>Hosts</li></a>
            </ul>

            <li>
                <a th:href="@{'problems'}">
                    <i class="fa fa-exclamation fa-lg"></i> Problems
                </a>
            </li>

            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-cog fa-lg"></i> <s>Admin panel</s> <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <a class="white-text" th:href="hostedit" ><li>Host Editor</li></a>
                <a class="white-text" th:href="optionsInstance" ><li>Instance Metrics</li></a>
                <a class="white-text" th:href="options" ><li>Temolet Metrics</li></a>
                <a class="white-text" th:href="editIntsMetrics" ><li>Services</li></a>
                <a class="white-text" th:href="accaunts" ><li>Accaunts</li></a>
            </ul>


            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="content">

    <!--<div id="all" style="background-color: red">ALL</div>-->

    <div class="col-lg-10 margin-top-20">
        <table style="width: 100%;">
            <tr>
                <td class="">
                    <div class="red row-circle-5 margin5">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 th:text="${hostsProblemsCount}">44</h3>
                                <p>Отключеных хостов</p>
                            </div>
                            <div class="col-sm-6">
                                <i class="icon2 fa fa-stop"></i>
                            </div>
                        </div>
                        <div class="inner">
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </td>
                <td class="">
                    <div class="green row-circle-5 margin5">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 th:text="${hostsSuccesCount}">44</h3>
                                <p>Всего хостов</p>
                            </div>
                            <div class="col-sm-6">
                                <i class="icon2 fa fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="inner">
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="orange row-circle-5 margin5">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 th:text="${metricsProblemCount}">44</h3>
                                <p>Ошибок сервисов</p>
                            </div>
                            <div class="col-sm-6">
                                <i class="icon2 fa fa-warning-1"></i>
                            </div>
                        </div>
                        <div class="inner">
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="blue row-circle-5 ">
                        <div class="row">
                            <div class="col-sm-3">
                                <h3 th:text="${metricsSuccesCount}">44</h3>
                                <p>Всего сервисов</p>
                            </div>
                            <div class="col-sm-7">
                                <i class="icon2 fa fa-navicon"></i>
                            </div>
                        </div>
                        <div class="inner">
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div th:each="favorites: ${favoritesList}">
        <script th:inline="javascript">
            var hostId = [[${favorites.hostId}]];
            var instMetricId = [[${favorites.metricId}]];
            var favoritesId = [[${favorites.id}]];
            var title = [[${favorites.title}]];
            loadChart3(hostId, instMetricId, title,favoritesId);
        </script>
        <div th:id="${favorites.metricId}" class="col-lg-10 margin-top-40 charts" zoomCount="0">
            <div class="content-panel">
            </div>
        </div>
    </div>

</div>


</body>

</html>