<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Monitoring system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="../static/js/localStorage.js"
            th:src="@{js/localStorage.js}"></script>

    <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{js/jquery-2.2.0.min.js}"></script>


    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
    <!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
    <script src="../static/js/highcharts.js"
            th:src="@{js/highcharts.js}"></script>
    <script src="../static/js/exporting.js"
            th:src="@{js/exporting.js}"></script>
    <script src="../static/js/dinamicChart.js"
            th:src="@{js/dinamicChart.js}"></script>




</head>
<body onload="loadChart()">
<div class="container">

    <div class="header">

        <div class="header-left">
		<!--
		<p class="host-name"><p th:text="'Host name ' + ${Values.value} + '!'" /></p>
		-->
            <!--<img src="../static/img/spring.jpg" width="200" height="30"-->
                 <!--th:src="@{img/spring.jpg}"/>-->
        </div>

        <div class="header-right">
            <ul class="header-menu">
                <li>
                    <a th:href="hosts" onclick="cleanlocalStorage()">Hosts</a>
                </li>
                <!--<li>-->
                    <!--<a>Templated services</a>-->
                <!--</li>-->
                <li>
                    <a th:href="@{'problems'}">Problems<div class="left-menu-counter" th:text="${getAllProblemsCount}"></div></a>
                </li>
                <li>
                    <a class="header-menu-black">Home</a>
                </li>
                <li>
                    <a th:action="@{/logout}" method="post" href="/login">Log Out</a>
                </li>
            </ul>
        </div>
    </div>




    <div class="content">
        <div class="divChart"></div>
        <div id="chart_1"></div>
        <div class="bottom"> </div>
    </div>

</div>
</body>
</html>