<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link type="text/css" href="../static/css/index.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/syncServer.css}"  href="static/css/index.css" />-->
    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"-->
          <!--th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen" />-->

	<script src="../static/js/jquery-2.2.0.min.js"
			th:src="@{js/jquery-2.2.0.min.js}"></script>
    <script src="../static/js/index.js"
            th:src="@{js/index.js}"></script>

    <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/hosts-page.css"
          th:href="@{css/hosts-page.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/host.css"
          th:href="@{css/host.css}" rel="stylesheet" media="screen"/>

	<script src="../static/js/highstock.js"
			th:src="@{js/highstock.js}"></script>
	<script src="../static/js/exporting.js"
			th:src="@{js/exporting.js}"></script>
	<script src="../static/js/dinamicChart.js"
			th:src="@{js/dinamicChart.js}"></script>

	<script th:inline="javascript">
		var title = [[${title}]];
		var hostId = [[${hostId}]];
		var instMetricId = [[${instMetricId}]];
//		alert(title+'->'+hostId+'->'+instMetricId+"->"+index);
		if(title!='title')
			loadChart3(hostId,instMetricId,title);
	</script>
</head>
<body onclick="metricsMenu()">
<!--th:if="${title != 'title'}" th:onload="loadChart3('/ajaxtest')"-->
<div class="container">
	<div class="header">

		<div class="header-right">
			<ul class="header-menu">
				<li>
					<a class="header-menu-black" th:href="hosts" >Hosts</a>
				</li>
				<li>
					<a th:href="@{'problems'}">Problems<div class="left-menu-counter" th:text="${getAllProblemsCount}"></div></a>
				</li>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a  href="/accaunts">Accaunts</a>
				</li>
				<li>
					<a th:action="@{/logout}" method="post" href="/login">Log Out</a>
				</li>
			</ul>
		</div>
	</div>



    <div class="content">
	
	<div class="center-contener">
				
				<div class="contener-head">
					<ul class="contener-menu">
					
					<li>
						<a  th:href="@{host(hostId=${hostId})}">Main</a>
					</li>
					<li>
						<a th:href="@{problem(hostId=${hostId})}">Problems <div class="left-menu-counter" th:text="${getProblemsCount}"></div></a>
					</li>

					<li>
						<a th:href="@{intsMetrics(hostId=${hostId})}" class="contener-menu-select">Services</a>
					</li>
					<li>
						<a th:href="@{editIntsMetrics(hostId=${hostId})}">Edit services</a>
					</li>
					</ul>
				</div>
				<div class="services-container">
					<div class="services-left">
						<ul class="services-left-menu">
							<div th:each="instMetric: ${getMetrics}">
								<li ><a th:href="@{intsMetric(hostId=${hostId},instMetricId=${instMetric.id},title=${instMetric.title})}" th:text="${instMetric.title}" ></a></li>
							</div>
						</ul>
					</div>
					<div class="services-drow-menu">
						
				<div id="chart_1" >

				</div>
					</div>
				
				</div>
		
   
   
   
	</div>
		<div class="bottom"> </div>
    </div>

</div>
</body>
</html>