<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link type="text/css" href="../static/css/index.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/syncServer.css}"  href="static/css/index.css" />-->
    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"-->
          <!--th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen" />-->

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../static/js/index.js"
            th:src="@{js/index.js}"></script>

    <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/hosts-page.css"
          th:href="@{css/hosts-page.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/host.css"
          th:href="@{css/host.css}" rel="stylesheet" media="screen"/>
		  
		  

</head>
<body onload="onLoad()">
<div class="container">

	<div class="header">

		<div class="header-right">
			<ul class="header-menu">
				<li>
					<a class="header-menu-black" th:href="hosts" >Hosts</a>
				</li>
				<li>
					<a th:href="@{'problems'}">Problems<div class="left-menu-counter" th:text="${getAllProblemsCount}"></div></a>
				</li>
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
		</div>
	</div>



    <div class="content">
	
	<div class="center-contener">
				
				<div class="contener-head">
					<ul class="contener-menu">
					
					<li>
						<a    th:href="@{'host'}">Main</a>
					</li>
					<li>
						<a  th:href="@{'problem'}">Problems <div class="left-menu-counter" th:text="${getProblemsCount}"></div></a>
					</li>

					<li>
						<a class="contener-menu-select">Services</a>
					</li>
					<li>
						<a th:href="editIntsMetrics">Edit services</a>
					</li>
					</ul>
				</div>
				<div class="services-container">
					<div class="services-left">
						<ul class="services-left-menu">
							<div th:each="instMetric: ${getMetrics}">
								<li><a  th:href="@{'selectInstMetric='+${instMetric.id}}" th:text="${instMetric.title}"></a></li>
							</div>
							<!--<li>-->
								<!--<a>CPU</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a>RAM</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a>ROM</a>-->
							<!--</li>-->
						</ul>
					</div>
					
					<div class="services-drow-menu">
						
				<div class="inProcess">
					<p>in process...</p>
				</div>
					</div>
				
				</div>
		
   
   
   
	</div>
		<div class="bottom"> </div>
    </div>

</div>
</body>
</html>