<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link type="text/css" href="../static/css/index.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/syncServer.css}"  href="static/css/index.css" />-->
    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"-->
          <!--th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen" />-->

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../static/js/index.js"
            th:src="@{js/index.js}"></script>

    <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/hosts-page.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/host.css"
          th:href="@{css/host.css}" rel="stylesheet" media="screen"/>
</head>
<body onload="onLoad()">
<div class="container">

    <div class="header">

        <div class="header-left">
		
		<p class="host-name"></p>
        </div>

        <div class="header-right">
            <ul class="header-menu">
                <li>
                    <a href="add.html">Hosts</a>
                </li>
                <li>
                    <a>Problems</a>
                </li>
                <li>
                    <a class="header-menu-black">Home</a>
                </li>
            </ul>
        </div>
    </div>




    <div class="content">
	
	<div class="center-contener">
				
				<div class="contener-head">
					<ul class="contener-menu">
					
					<li>
						<a   href="host.html">Main</a>
					</li>
					<li> 
						<a class="contener-menu-select">Problems <div class="left-menu-counter">10</div></a>
					</li>

					<li>
						<a  href="metrics.html">Services</a>
					</li>
					<li>
						<a href="addIntsMetric.html">Edit services</a>
					</li>
					</ul>
				</div>
				
				<div class="inProcess">
					<p>in process...</p>
				</div>
		
   
	</div>
		<div class="bottom"> </div>
    </div>

</div>
</body>
</html>